* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Responsive */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.brand-title img {
  height: 90px;
  margin-left: 20px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
}

.navbar-links li a:hover {
  color: white;
}

.navbar-links li:hover {
  background-color: #555;
  border: 1px solid black;
  border-radius: 8px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* NavBar Responsive End */

/* Hero Page Start */

/* .hero {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hero .hero-img {
  background-image: url(./images/joel-muniz-3k3l2brxmwQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-img h1 {
  font-weight: 800;
  font-size: 50px;
  color: white;
  text-align: center;
}

.hero-img h3 {
  font-size: 35px;
  text-align: center;
  color: white;
}

.hero-img a {
  text-decoration: none;
  padding: 15px 25px;
  background-color: black;
  color: white;
  border-radius: 25px;
  margin-top: 15px;
}

.hero-img a:hover {
  background-color: grey;
  color: black;
}

/* Hero Page End */

/* About Us Start */

.about-us {
  margin: 30px auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.about-us h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

.about-us p {
  font-size: 18px;
  text-align: center;
  width: 70%;
  margin: 15px auto;

}

.about-us__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-us__box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: 20px 10px;
}

.about-us__box1 p {
text-align: center;
margin: 15px 10px;
font-size: 18px;
}

.about-us__box1 h3 {
  margin-top: 10px;
  font-weight: 900;
}

.about-us__box1 i {
  font-size: 50px;
  margin-top: 20px;
  color: rgb(44, 44, 190);
}




/* About Us End */


/* Footer Responsive Start */

footer{
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-content p a {
  text-decoration: none;
  color: white;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
 color:#44bae8;
 font-size: 16px;
 text-decoration: none;
}
.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}

/* Footer Responsive End */



