* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Responsive */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.brand-title img {
  height: 90px;
  margin-left: 20px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.navbar-links li {
  list-style: none;
  padding: 10px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
}

.navbar-links li a:hover {
  color: white;
}

.navbar-links li:hover {
  background-color: #555;
  border: 1px solid black;
  border-radius: 8px;
}

.toggle-button {
  position: absolute;
  top: 2.75rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* NavBar Responsive End */

/* Hero Page Start */

/* .hero {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hero .hero-img {
  background-image: url(./images/hero.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-img h1 {
  font-weight: 800;
  font-size: 50px;
  color: white;
  text-align: center;
}

.hero-img h3 {
  font-size: 35px;
  text-align: center;
  color: white;
}

.hero-img a {
  text-decoration: none;
  padding: 15px 25px;
  background-color: black;
  color: white;
  border-radius: 25px;
  margin-top: 15px;
}

.hero-img a:hover {
  background-color: grey;
  color: black;
}

/* Hero Page End */

/* About Us Start */

.about-us {
  margin: 30px auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

.about-us p {
  font-size: 18px;
  text-align: center;
  width: 70%;
  margin: 15px auto;
}

.about-us__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-us__box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin: 20px 10px;
}

.about-us__box1 p {
  text-align: center;
  margin: 15px 10px;
  font-size: 18px;
}

.about-us__box1 h3 {
  margin-top: 10px;
  font-weight: 900;
}

.about-us__box1 i {
  font-size: 70px;
  margin-top: 20px;
  color: black;
}

/* About Us End */

/* What We Do Start */

.whatwedo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 35px;
  width: 80%;
  margin: 20px auto;
  background-color: rgba(128, 128, 128, 0.753);
  border-radius: 10px;
  color: white;
}

.whatwedo h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
}

.whatwedo h4 {
  margin-bottom: 15px;
  color: white;
}

.whatwedo p {
  font-size: 18px;
  text-align: center;
}

/* What We Do End */

/* Goal Start */

.goal {
  margin-top: 50px;
}

.goal-img {
  background-image: url(./images/community.jpg);
  height: 80vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-text {
  background-color: rgb(241, 235, 235);
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  border: 1px solid black;
}

.goal-text h2 {
  margin: 20px 20px;
  font-weight: 800;
}

.goal-text p {
  margin: 0 50px 30px 50px;
  font-size: 18px;
  text-align: center;
}

/* Goal End */

/* Footer Responsive Start */

footer {
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-content p a {
  text-decoration: none;
  color: white;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* Footer Responsive End */

/* Edits on Smaller Screens */

@media (max-width: 800px) {
  .goal-text {
    width: 80%;
    margin: auto;
  }
}

/* Contact Us Page Start */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 20px 30px;
  /* background-color: rgba(128, 128, 128, 0.548);

  border-radius: 10px;
  border: 1px solid black; */
}

.contact-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-text h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-text h4 a {
  text-decoration: none;
  cursor: pointer;
}

.contact-text h4 {
  margin-bottom: 10px;
}

.contact-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-text p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}

.contact-text p a {
  text-decoration: none;
  cursor: pointer;
}

/* Contact Us Page End */



/* Form Box Start */

.form-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.form-text h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
.form-text h4 {
  margin-bottom: 10px;
  font-size: 20px;
}
.form-text p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-text p a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.753);
  padding: 30px 20px;
  width: 80%;
  border-radius: 15px;
  margin: 30px auto;
  border: 1px solid black;
}

.form .submit {
  background-color: rgba(38, 38, 214, 0.726);
  color: white;
}

.form .submit:hover {
  background-color: rgba(38, 38, 214, 0.377);
}

.form label {
  font-size: 20px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px 20px;
  border-radius: 25px;
}


/* Form Box End */
